@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: 300ms;
}

body {
  background-color: #222222;
  margin: 0;
  padding: 20px;
}

main,
header {
  padding: 0em 2em;
}

main {
  background-color: #414141;
}

header,
h1, h1, h3, h4, h5, h6 {
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  border-radius: .4em;
  justify-content: space-between;
  background-color: #1b1b1b;
}

.header-buttons {
  display: flex;
  gap: .5em;
}

.header-buttons a {
  padding: .2em .5em;
  background-color: #151515;
  border-radius: .3em;
  text-decoration: none;
  color: #ffffff;
}

.header-buttons a:hover {
  background-color: #000000;
  font-weight: bold;
}

.introduction,
h1, h1, h3, h4, h5, h6 {
  color: #ffffff;
  gap: 5;
}

.introduction {
  align-items: center;
}

.logo {
  height: 35px;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: #050505;
}

@media (max-width: 690px) {
  main,
  header {
    padding: 1em 2.5em;
  }

  header {
    flex-direction: column;
  }
}

.rgb-text {
  font-weight: bold;
  font-size: 2em;
  animation: rgbText 5s infinite linear;
}

@keyframes rgbText {
  0%   { color: #ff7979; }
  33%  { color: #a3ffa3; }
  66%  { color: #9e9eff; }
  100% { color: #ff7979; }
}