html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}
